<h2><%= @title %></h2>

<%= f = form_for @changeset, "#",
  id: "book-form",
  phx_target: @myself,
  phx_change: "validate",
  phx_submit: "save" %>


  <%= label f, :book_name %>
  <%= textarea f, :book_name %>
  <%= error_tag f, :book_name %>

  <%= label f, :song_name %>
  <%= textarea f, :song_name %>
  <%= error_tag f, :song_name %>

  <%= label f, :label_name %>
  <%= textarea f, :label_name %>

  <%= submit "Save", phx_disable_with: "Saving..." %>
</form>
